<!DOCTYPE html>

<style>
    @import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
    .gal-font{
        font-family: 'Galmuri11';
        font-weight: 700;
        font-size:20px;
	}
    .gal-font-light{
        font-family: 'HBIOS-SYS';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-size:35px;
	}
    .g-font{
        font-family:  'Sunflower', sans-serif;
        color: #000;
        font-size:25px;
    }
    .num-btn{
        
    }
    .clicked {
        color: #336688;
    }
</style>
<script>
    function change(v) {
        document.getElementById("btn-value").value = v;
    }
</script>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/quiple/hbios-sys@latest/hbios-sys.css">
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap" rel="stylesheet">

        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/src/img/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
        
    </head>
    <body >
        <!-- Masthead-->

        <div class="p-3 mb-2  text-white" style="background-color: #ffffff;">
            <div class="container text-center">

                <!-- Navigation 33aa66-->
                <nav class="navbar navbar-light static-top" style="margin-top : 20px;background-color: #ddd; padding : 9px;">
                    <div class="container" style="">
                        <div class=" g-font" href="/">LSTM을 이용한 온도/습도/조도 예측</div>
                        <!-- <a class="btn btn-primary" href="#signup">Sign Up</a> -->
                        <div style="color:#000" align="left">
                            희망하는 시간을 선택 후 "예측결과" 버튼을 누르세요. <br>
                            분단위는 무시하기에, 12:32에 1시간을 선택하면 <br>
                            13:00의 데이터를 반환합니다.<br>
                            예측에는 약 15초가 소요됩니다.<br>
                        </div>
                    </div>
                </nav>
                
                <form action = "http://192.168.0.2:5000/result" method = "POST">
                    <div class="row row-cols-3" style="margin-top : 15px">
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="1"><div class="gal-font">1시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="2"><div class="gal-font">2시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="3"><div class="gal-font">3시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="4"><div class="gal-font">4시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="5"><div class="gal-font">5시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="6"><div class="gal-font">6시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="7"><div class="gal-font">7시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="8"><div class="gal-font">8시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="9"><div class="gal-font">9시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="10"><div class="gal-font">10시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="11"><div class="gal-font">11시간</div></button>
                        <button type="button" id="num-button" class="btn btn-dark num-btn" style="height: 100px; width : 27%; margin : 1% 3% 1% 3%" onclick="change(this.value);" value="12"><div class="gal-font">12시간</div></button>
                        <input type="hidden" name="button-num" id="btn-value" value="1"></input>
                        <button type = "submit" class="btn btn-warning" style="height: 80px; width : 94%; margin : 1% 3% 1% 3%"><div class="gal-font-light">예측 결과</div></button>
                    </div>

                </form>


                <!-- Footer-->
                <footer class="footer bg-white" style="margin-top : 15px">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                                <p class="text-muted small mb-4 mb-lg-0"> 한 번 실행 후 약 15초간 기다려주세요. </p>
                            </div>
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="https://github.com/etri-summer-Intern/monitoring"><i class="bi-github fs-3"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>




        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
